
img{
    height: 150px;
    margin-left: 25px;
    margin-top: 15px;
}

#name{
    text-align: right;
    margin-top: -100px;
    padding-right: 60px;
    font-size: 30px;

}


h2{
margin-left: 15px;
}

h3{
    margin-left: 70px;
    font-size: 15px;
  
}


.date{
    float: right;
    font-style: italic;
    margin-right: 60px;
    font-size: 15px;
    font-weight: bold;
}

.course{
    font-size: 20px;
    margin-left: 70px;
    font-weight: bold;
}

.format{
    margin-left:90px;
    font-size: 17px;
    font-style: italic;
    font-weight: normal;
}

.answer{
    text-align: center;
    font-size: 17px;

}

.basicinfo{
    font-size: 17px;
    margin-left: 70px;
    font-weight: bold;
    
}

p{
    margin-left: 70px;
    font-weight: bold;
}